/* Color Codes */
h5{background-color: #004968
    #008294
    #00bddb
    #00ffc9;
}
  /* Starts coding */
body{
    margin: 0;
    text-align: center;
    background-color: aliceblue;
    color: aliceblue;
    font-family: 'montserrat', sans-serif;
    color: #004968;
}
.student-girl{
    margin: 0;
    width: 100%;
}

/* navbar */

.nav-link{
    font-family: 'montserrat', sans-serif;
    color: #004968;
    margin-top: 6px;
 
}
.colored-logo{
    width: 30px;
    margin-left: 13px;
}
.navbar{
    background-color: aliceblue;
}

h1{
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
    color: #004968;
    font-weight: 600;
}

p{
    width: 80%;
    margin: auto;
    color: #004968;
}

.aboutus{
    background-color: #f0f8ff;
    margin: 0;
    padding: 30px 0 30px;
    position: relative;
    margin-bottom: 55px;
    top: 10px;
}
.ourvision{
margin-top: 100px;

}

.block-1{
    margin-top: 20px;
    background-color: #004968;
    height: 13px;
    width: 15%;
    position: absolute;
    left: 0%;
    top: 29%;
}
.block-2{
    margin-top: 20px;
    background-color: #004968;
    height: 13px;
    width: 13px;
    position: absolute;
    left: 20%;
    top: 29%;
}
.block-3{
    margin-top: 20px;
    background-color: #004968;
    height: 13px;
    width: 15%;
    position: absolute;
    right: 0%;
    top: 29%;
}
.block-4{
    margin-top: 20px;
    background-color: #004968;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 20%;
    top: 29%;
}
.courses-button{
    background-color: #004968;
    color: aliceblue;
    border: solid 2px aliceblue;
    margin-top: 50px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 10%;
}
.courses-button:hover{
    background-color: aliceblue;
    color: #008294;
    border: solid 2px #004968;
    border-radius: 10px;
    padding: 12px 10%;
}

/* Perks icons */

.row{  
    margin-top: 80px;
    margin-right: 0;
}
.for-blocks{
    position: relative;   
}
.long-block1{
    position: absolute;
    left: 0;
width: 1.5%;
height: 100%;
background-color: #004968;
}
.long-block2{
    position: absolute;
    right: 0;
width: 1.5%;
height: 100%;
background-color: #004968;
}
.perk-icons{
    width: 60px;
    margin: 0%;
}

h2{
    padding-top: 30px;
    font-size: 17px;
    margin-bottom: 22px;
    color: #004968;
    font-weight: 600;
}
#resouces-icon{
    width: 70px;

}
#perspective-icon{
    width: 93px;
    margin-bottom: 10px;
}
#Certificate-icon{
    margin-bottom: 10px;
}
#network-icon{
    width: 70px;
    margin-bottom: 12px;
}
#growth-icon{
    width: 60px;
    margin-bottom: 9px;
}
#opportunities-icon{
    width: 90px;
}

/* carousel  */

.carousel-border{
    background-color: aliceblue;
    border: #004968 solid 3px;
    scale: 108%;
    height: 100%;
    width: 100%;
    padding: 10px;
    
}
.carousel-pic{
    width: 100%;
}

.carousel{
    margin: auto;
    margin-top: 70px;
    width: 350px;
}

.carousel-indicators{
    display: none;
}

.enroll-button{
    background-color: #004968;
    color: aliceblue;
    border: solid 2px aliceblue;
    margin-top: 55px;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 10%;
}
.enroll-button:hover{
    background-color: aliceblue;
    color: #008294;
    border: solid 2px #004968;
    border-radius: 10px;
    padding: 12px 10%;
    
}
hr{
    margin: auto;
    margin-top: 28px;
    width: 5%;
    border-style: dotted none none;
    border-width: 6px;
    border-color: #008294;
    margin-bottom: 20px;
}
#behance_logo{
    margin-top: 20px;
    width: 33px;
    margin: 2em;
    margin-top: 0px;
    margin-bottom: 20px;
}
#linkedin_logo{
    margin-top: 20px;
    width: 28px;
    margin: 2em;
    margin-top: 0px;
    margin-bottom: 24px;
   
}
#discord_logo{
    margin-top: 20px;
    width: 35px;
    margin: 1.5em;
    margin-top: 0px;
    margin-bottom: 20px;
}
#github_logo{
    margin-top: 20px;
    width: 30px;
    margin: 1.5em;
    margin-top: 0px;
    margin-bottom: 20px;
}
h5{
    margin-bottom: 24px;
}
.cta{
    background-color: aliceblue;
    padding-top: 30px;
    position: relative;
    margin-top: 50px;
    padding-bottom: 8px;
    filter: drop-shadow(0 0.2rem 0.49rem #004968);
}
.final-div{
    position: relative;
    background-color: #004968;
    height: 40px;
}
.supportus{
    position: relative;
    top: 10px;
    color: aliceblue;
    margin: auto;
    font-size: smaller;

}


